{# Site-wide variables #}
{% set navbar = craft.entries.section('navbar').all() %}
{% set categories = craft.categories.level(1) %}
{% set subcategories = craft.categories.level(2) %}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure Distributors</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/main.js"></script>
</head>
<body class="m-0">
    <div class="container-fluid main p-0">
        <!--Promotional Banner-->
        {# No banner yet #}
        <!--Header/Nav-->
        <nav class="navbar navbar-dark bg-dark sticky-top pb-0">
            <!--Logo & Searchbar-->
            <div class="container">
                <a class="navbar-brand" href="/"><img src="/assets/images/Logo.png" style="width: 250px"></a>
                <form class="d-flex mx-auto" style="width: 500px">
                    <input class="form-control me-2" type="text" placeholder="Search">
                </form>
            </div>
            <!--Nav buttons-->
            <div class="container-fluid nav-links">
                <div class="container">
                    <ul class="nav">
                        <!--Dropdown Menu-->
                        <li class="nav-item dropdown position-static">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Menu</a>
                            <div class="dropdown-menu w-100 mt-0" aria-labelledby="navbarDropdown" style="border-top-left-radius: 0; border-top-right-radius: 0;">
                                <div class="container">
                                    <div class="row">
                                        {% set i = 1 %}
                                        {% for category in categories %}
                                            {% if i % 10 == 1 %}
                                                <div class="col-md-4 col-lg-3">
                                                <ul class="list-group list-group-flush">
                                            {% endif %}
                                                <li class="list-group-item tablink" onmouseover="expandCategory(event, '{{category.title}}')"><a class="dropdown-item" href="{{category.url}}">{{category.title}}</a></li>
                                            {% if (i % 10 == 0) or (i == categories|length) %}
                                                </ul>
                                                </div>
                                            {% endif %}
                                            {% set i = i + 1 %}
                                        {% endfor %}
                                        <!--Tab Contents-->
                                        {% for category in categories %}
                                            <div id="{{category.title}}" class="tabcontent col-md-4 col-lg-3">
                                                <h3>{{category.title}}</h3>
                                                <ul>
                                                    {% for subcategory in subcategories.descendantOf(category) %}
                                                        <li>{{subcategory.title}}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% for link in navbar %}
                            <li class="separator">|</li>
                            <li class="nav-item">
                                {% if link.type == "internalLink" %}
                                    <a class="nav-link" href="{{link.navLink}}">{{ link.title }}</a>
                                {% else %}
                                    <a class="nav-link" href="{{link.navLink}}" target="_blank">{{ link.title }}</a>
                                {% endif %}          
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>

        <!--Content-->
        {% block content %}
        {% endblock %}
    </div>
    <!--Footer-->
    <footer class="footer container-fluid">
        <div class="container pt-2">
            <h4>&copy; Steve's Outdoor Adventures <script>document.write(/\d{4}/.exec(Date())[0])</script></h4>
            <p>Website by <a href="https://levipringle.net" target="_blank" style="color: #008064;">Levi Pringle</a></p>
        </div>
    </footer>
</body>
</html>